.side ul {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    list-style: none
}

ul>li {
    width: 90%;
    padding: 0 10px;
    font-size: 0.9rem !important;
    background-color: rgba(181, 209, 255);
    color: white;
}

ul>li:nth-child(odd) {
    background-color: rgba(126, 155, 198);
}

ul>li:hover {
    filter: brightness(90%);
}

