#mobile-search-box {
  margin-right: 10px;
  height: 50%;
  width: 40%;
  margin-left: 20px;
  border: none;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: #282828;
}

@media screen and (max-width: 768px){
  #headerContainer{
    justify-content: none;
  }

  #mobile-search-box{
    position: relative;
    right: 8%;
}
}


#dashboardName {
  font-weight: bold;
  color: white;
  width: 50%;
}

#search-icon {
  float: right;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d48166;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 10px;
}

#mobile-searched {
  display: flex;
  overflow-y: scroll;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0%;
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-height: 300px;
  background: white;
  opacity: 0;
  border: none;
  padding: 1px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.mobile-searched-item {
  width: 100%;
  color: black;
  border-bottom: 1px solid black;
  height: 30px;
}

.mobile-searched-item:hover {
  background-color: #777;
}

@media screen and (min-width: 1024px) {
  #mobile-search-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile-searched-item {
    height: auto !important;
    font-size: 0.8rem;
  }
}

@media (max-width: 1023px) {
  .search-txt-mobile {
    font-family: Arial , fontAwesome;
  }

  .drop {
    font-size: 1rem;
  }
}

.search-txt-mobile {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #777;
  font-size: 1.2rem;
  width: 85%;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;
}

/* .search-btn-mobile {
  float: right;
  height: 100%;
  width: 20%;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d48166;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 10px;
} */