<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styleRSB.css" />
    <title>rightSideBar</title>
</head>

<body>
    <div class="headerInfo">Cases overview</div>
    <div id="state">State:
        <item id="byState">insert here
            <script></script>
        </item>
    </div>
    <div id="county">County:
        <item id="byCounty">insert here
            <script></script>
        </item>
    </div>
    <section class="grid-container">
        <div class="grid-item confirmed">Confirmed:
            <script></script>
        </div>
        <div class="grid-item recovered">Recovered:
            <script></script>
        </div>
        <div class="grid-item deaths">Deaths:
            <script></script>
        </div>
        <div class="grid-item race">Race:
            <script></script>
        </div>
        <div class="grid-item average-age">Average age:
            <script></script>
        </div>
        <div class="grid-item income">Income:
            <script></script>
        </div>
    </section>


    <script src="js/script.js"></script>
</body>

</html>